*{
  margin: 0;
  padding: 0;
}
.app1{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;

}
.cart-container{
  width: 50px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;

  
}
.cart{
  display: flex;
  justify-content: space-around;
  align-items: center;
}